@charset "UTF-8";
@import url(font-awesome.min.css);
@import url(http://fonts.googleapis.com/css?family=Raleway:700,400);



/* Basic */

	body {
		background: #fff;
	}

		body.is-loading *, body.is-loading *:before, body.is-loading *:after {
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-o-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-o-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
		}

	body, input, select, textarea {
		color: #444;
		font-family: "Raleway", Helvetica, sans-serif;
		font-size: 13pt;
		font-weight: 400;
		line-height: 1.65em;
	}

	a {
		color: #383b43;
		text-decoration: none;
	}

		a:active, a:hover {
			text-decoration: none;
		}

	strong, b {
		color: #474747;
		font-weight: 700;
	}

	em, i {
		font-style: italic;
	}

	p {
		font-size: 1.1em;
		margin: 0 0 2em 0;
	}

	h1, h2, h3, h4, h5, h6 {
		color: #474747;
		font-weight: 700;
		line-height: 1em;
		margin: 0 0 1em 0;
	}
	.purple{
		color: #862a6f;
	}
	.white{
		color: #fff;
	}
		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
			color: inherit;
			text-decoration: none;
		}

	h2 {
		font-size: 1.75em;
		line-height: 1.5em;
	}

	h3 {
		font-size: 1.35em;
		line-height: 1.5em;
	}

	h4 {
		font-size: 1.1em;
		line-height: 1.5em;
	}

	h5 {
		font-size: 0.9em;
		line-height: 1.5em;
	}

	h6 {
		font-size: 0.7em;
		line-height: 1.5em;
	}

	sub {
		font-size: 0.8em;
		position: relative;
		top: 0.5em;
	}

	sup {
		font-size: 0.8em;
		position: relative;
		top: -0.5em;
	}

	hr {
		border: 0;
		border-bottom: solid 1px rgba(144, 144, 144, 0.25);
		margin: 2em 0;
	}

		hr.major {
			margin: 3em 0;
		}

	blockquote {
		border-left: solid 4px rgba(144, 144, 144, 0.25);
		font-style: italic;
		margin: 0 0 2em 0;
		padding: 0.5em 0 0.5em 2em;
	}

	code {
		background: rgba(144, 144, 144, 0.075);
		border-radius: 4px;
		border: solid 1px rgba(144, 144, 144, 0.25);
		font-family: "Courier New", monospace;
		font-size: 0.9em;
		margin: 0 0.25em;
		padding: 0.25em 0.65em;
	}

	pre {
		-webkit-overflow-scrolling: touch;
		font-family: "Courier New", monospace;
		font-size: 0.9em;
		margin: 0 0 2em 0;
	}

		pre code {
			display: block;
			line-height: 1.75em;
			padding: 1em 1.5em;
			overflow-x: auto;
		}

	.align-left {
		text-align: left;
	}

	.align-center {
		text-align: center;
	}

	.align-right {
		text-align: right;
	}

/* Section/Article */

	section.special, article.special {
		text-align: center;
	}

	header p {
		color: #858585;
		position: relative;
		margin: 0 0 1.5em 0;
	}

	header h2 + p {
		font-size: 1.2em;
		margin-top: -1em;
		line-height: 1.5em;
	}

	header h3 + p {
		font-size: 1.1em;
		margin-top: -0.8em;
		line-height: 1.5em;
	}

	header h4 + p,
	header h5 + p,
	header h6 + p {
		font-size: 0.9em;
		margin-top: -0.6em;
		line-height: 1.5em;
	}

	header.major {
		text-align: center;
		margin-bottom: 4em;
		margin-top: 0em;

	}
	header.major1 {
		text-align: center;
		margin-bottom: 4em;
		margin-top: -4em;
	}



		header.major h2,header.major1 h2 {
			font-size: 3em;
			margin-bottom: 0.5em;
		}

		header.major p, header.major1 p {
			font-size: 1.5em;
		}

/* Form */

	form {
		margin: 0 0 2em 0;
	}

	label {
		color: #474747;
		display: block;
		font-size: 0.9em;
		font-weight: 700;
		margin: 0 0 1em 0;
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	select,
	textarea {
		-moz-appearance: none;
		-webkit-appearance: none;
		-o-appearance: none;
		-ms-appearance: none;
		appearance: none;
		background: rgba(144, 144, 144, 0.075);
		border-radius: 4px;
		border: none;
		color: inherit;
		background-color: #fff;
		display: block;
		outline: 0;
		padding: 0 1em;
		text-decoration: none;
		width: 100%;
	}

		input[type="text"]:invalid,
		input[type="password"]:invalid,
		input[type="email"]:invalid,
		select:invalid,
		textarea:invalid {
			box-shadow: none;
		}

		input[type="text"]:focus,
		input[type="password"]:focus,
		input[type="email"]:focus,
		select:focus,
		textarea:focus {
			border-color: #383b43;
			box-shadow: 0 0 0 1px #383b43;
		}

	.select-wrapper {
		text-decoration: none;
		display: block;
		position: relative;
	}

		.select-wrapper:before {
			content: "";
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.select-wrapper:before {
			color: rgba(144, 144, 144, 0.25);
			display: block;
			height: 2.75em;
			line-height: 2.75em;
			pointer-events: none;
			position: absolute;
			right: 0;
			text-align: center;
			top: 0;
			width: 2.75em;
		}

		.select-wrapper select::-ms-expand {
			display: none;
		}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	select {
		height: 2.75em;
	}

	textarea {
		padding: 0.75em 1em;
	}

	input[type="checkbox"],
	input[type="radio"] {
		-moz-appearance: none;
		-webkit-appearance: none;
		-o-appearance: none;
		-ms-appearance: none;
		appearance: none;
		display: block;
		float: left;
		margin-right: -2em;
		opacity: 0;
		width: 1em;
		z-index: -1;
	}

		input[type="checkbox"] + label,
		input[type="radio"] + label {
			text-decoration: none;
			color: #444;
			cursor: pointer;
			display: inline-block;
			font-size: 1em;
			font-weight: 400;
			padding-left: 2.4em;
			padding-right: 0.75em;
			position: relative;
		}

			input[type="checkbox"] + label:before,
			input[type="radio"] + label:before {
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-transform: none !important;
			}

			input[type="checkbox"] + label:before,
			input[type="radio"] + label:before {
				background: rgba(144, 144, 144, 0.075);
				border-radius: 4px;
				border: solid 1px rgba(144, 144, 144, 0.25);
				content: '';
				display: inline-block;
				height: 1.65em;
				left: 0;
				line-height: 1.58125em;
				position: absolute;
				text-align: center;
				top: 0;
				width: 1.65em;
			}

		input[type="checkbox"]:checked + label:before,
		input[type="radio"]:checked + label:before {
			background: #3cadd4;
			border-color: #3cadd4;
			color: #ffffff;
			content: '\f00c';
		}

		input[type="checkbox"]:focus + label:before,
		input[type="radio"]:focus + label:before {
			border-color: #383b43;
			box-shadow: 0 0 0 1px #383b43;
		}

	input[type="checkbox"] + label:before {
		border-radius: 4px;
	}

	input[type="radio"] + label:before {
		border-radius: 100%;
	}

	::-webkit-input-placeholder {
		color: #858585 !important;
		opacity: 1.0;
	}

	:-moz-placeholder {
		color: #858585 !important;
		opacity: 1.0;
	}

	::-moz-placeholder {
		color: #858585 !important;
		opacity: 1.0;
	}

	:-ms-input-placeholder {
		color: #858585 !important;
		opacity: 1.0;
	}

	.formerize-placeholder {
		color: #858585 !important;
		opacity: 1.0;
	}
/* Box */

	.box {
		border-radius: 4px;
		border: solid 1px rgba(144, 144, 144, 0.25);
		margin-bottom: 2em;
		padding: 1.5em;
	}
	#aboutus{
		margin-top: 5em;
		margin-bottom: -3.5em;
		height: 340px;
	}
	.box1 {
		border-radius: 4px;
		border: solid 1px rgba(144, 144, 144, 0.25);
		margin-bottom: 2em;
		padding: 1.5em;
		height: 288px;
		width: 300px;
		position: relative;
		right: 0.5em;
	}
	.box2 {
		border-radius: 4px;
		border: solid 1px rgba(144, 144, 144, 0.25);
		margin-bottom: 2em;
		padding: 1.5em;
		width: 290px;
		position: relative;
		bottom: 43.2em;
		left: 62em;
		height: 288px;
	}
	.box3 {
		border-radius: 4px;
		border: solid 1px rgba(144, 144, 144, 0.25);
		margin-bottom: 2em;
		padding: 1.5em;
		width: 600px;
		height: 286px;
		position: relative;
		bottom: 21.6em;
		left: 20.5em;
	}

		.box > :last-child,
		.box > :last-child > :last-child,
		.box > :last-child > :last-child > :last-child {
			margin-bottom: 0;
		}

		.box.alt {
			border: 0;
			border-radius: 0;
			padding: 0;
		}

		#maps{
			width: 930px;
			position: relative;
			left: 4.8em;
			margin-bottom:3em;
		}
/* Icon */

	.icon {
		text-decoration: none;
		border-bottom: none;
		position: relative;
	}

		.icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.icon:active, .icon:hover {
			text-decoration: none;
		}

		.icon > .label {
			display: none;
		}

		.icon.rounded {
			background-color: #383b43;
			border-radius: 100%;
			color: #ffffff;
			display: inline-block;
			height: 3.25em;
			line-height: 3.25em;
			text-align: center;
			width: 3.25em;
		}

			.icon.rounded.big {
				font-size: 2.5em;
				margin-bottom: 0.5em;
			}

			.icon.rounded.color1 {
				background-color: #f1b0a6;
			}

			.icon.rounded.color2 {
				background-color: #3c61d4;
			}

			.icon.rounded.color3 {
				background-color: #633cd4;
			}

			.icon.rounded.color4 {
				background-color: #af3cd4;
			}

			.icon.rounded.color5 {
				background-color: #d43cad;
			}

			.icon.rounded.color6 {
				background-color: #7bb681;
			}

			.icon.rounded.color7 {
				background-color: #d4633c;
			}

			.icon.rounded.color8 {
				background-color: #d4af3c;
			}

			.icon.rounded.color9 {
				background-color: #72c9f3;
			}

			.icon.rounded.color10 {
				background-color: #61d43c;
			}

			.icon.rounded.fa-twitter {
				background-color: #2daae4;
			}

			.icon.rounded.fa-facebook {
				background-color: #39599f;
			}

			.icon.rounded.fa-google-plus {
				background-color: #c91e1f;
			}

			.icon.rounded.fa-dribbble {
				background-color: #c4376b;
			}

			.icon.rounded.fa-tumblr, .icon.rounded.fa-linkedin {
				background-color: #31516a;
			}

			.icon.rounded.fa-rss {
				background-color: #f2600b;
			}

/* Image */

	.image {
		border-radius: 4px;
		border: 0;
		display: inline-block;
		position: relative;
	}

		.image img {
			border-radius: 4px;
			display: block;
		}

		.image.left {
			float: left;
			padding: 0 1.5em 1em 0;
			top: 0.25em;
		}

		.image.right {
			float: right;
			padding: 0 0 1em 1.5em;
			top: 0.25em;
		}

		.image.left, .image.right {
			max-width: 40%;
		}

			.image.left img, .image.right img {
				width: 100%;
			}

		.image.fit {
			display: block;
			margin: 0 0 2em 0;
			width: 100%;
		}



			.image.fit img {
				width: 100%;
			}

/* List */

	ol {
		list-style: decimal;
		margin: 0 0 2em 0;
		padding-left: 1.25em;
	}

		ol li {
			padding-left: 0.25em;
		}

	ul {
		list-style: disc;
		margin: 0 0 2em 0;
		padding-left: 1em;
	}

		ul li {
			padding-left: 0.5em;
		}

		ul.alt {
			list-style: none;
			padding-left: 0;
		}

			ul.alt li {
				border-top: solid 1px rgba(144, 144, 144, 0.25);
				padding: 0.5em 0;
			}

				ul.alt li:first-child {
					border-top: 0;
					padding-top: 0;
				}

		ul.unstyled {
			list-style: none;
			padding-left: 0;
		}

			ul.unstyled li {
				padding: 0.4em 0;
			}

		ul.icons {
			cursor: default;
			list-style: none;
			padding-left: 0;
		}

			ul.icons li {
				display: inline-block;
				padding: 0 1em 0 0;
			}

				ul.icons li:last-child {
					padding-right: 0;
				}

				ul.icons li .icon:before {
					font-size: 2em;
				}

		ul.actions {
			cursor: default;
			list-style: none;
			padding-left: 0;
		}

			ul.actions li {
				display: inline-block;
				padding: 0 1em 0 0;
				vertical-align: middle;
			}

				ul.actions li:last-child {
					padding-right: 0;
				}

			ul.actions.small li {
				padding: 0 0.5em 0 0;
			}

			ul.actions.vertical li {
				display: block;
				padding: 1em 0 0 0;
			}

				ul.actions.vertical li:first-child {
					padding-top: 0;
				}

				ul.actions.vertical li > * {
					margin-bottom: 0;
				}

			ul.actions.vertical.small li {
				padding: 0.5em 0 0 0;
			}

				ul.actions.vertical.small li:first-child {
					padding-top: 0;
				}

			ul.actions.fit {
				display: table;
				margin-left: -1em;
				padding: 0;
				table-layout: fixed;
				width: calc(100% + 1em);
			}

				ul.actions.fit li {
					display: table-cell;
					padding: 0 0 0 1em;
				}

					ul.actions.fit li > * {
						margin-bottom: 0;
					}

				ul.actions.fit.small {
					margin-left: -0.5em;
					width: calc(100% + 0.5em);
				}

					ul.actions.fit.small li {
						padding: 0 0 0 0.5em;
					}

	dl {
		margin: 0 0 2em 0;
	}

/* Table */

	.table-wrapper {
		-webkit-overflow-scrolling: touch;
		overflow-x: auto;
	}

	table {
		margin: 0 0 2em 0;
		width: 100%;
	}

		table tbody tr {
			border: solid 1px rgba(144, 144, 144, 0.25);
			border-left: 0;
			border-right: 0;
		}

			table tbody tr:nth-child(2n + 1) {
				background-color: rgba(144, 144, 144, 0.075);
			}

		table td {
			padding: 0.75em 0.75em;
		}

		table th {
			color: #474747;
			font-size: 0.9em;
			font-weight: 700;
			padding: 0 0.75em 0.75em 0.75em;
			text-align: left;
		}

		table thead {
			border-bottom: solid 2px rgba(144, 144, 144, 0.25);
		}

		table tfoot {
			border-top: solid 2px rgba(144, 144, 144, 0.25);
		}

		table.alt {
			border-collapse: separate;
		}

			table.alt tbody tr td {
				border: solid 1px rgba(144, 144, 144, 0.25);
				border-left-width: 0;
				border-top-width: 0;
			}

				table.alt tbody tr td:first-child {
					border-left-width: 1px;
				}

			table.alt tbody tr:first-child td {
				border-top-width: 1px;
			}

			table.alt thead {
				border-bottom: 0;
			}

			table.alt tfoot {
				border-top: 0;
			}

/* Button */

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	.button,.button1 {
		-moz-appearance: none;
		-webkit-appearance: none;
		-o-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-o-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		background-color: #fff;
		border-radius: 30px;
		border: 0;
		color: #ae4d92 !important;
		cursor: pointer;
		display: inline-block;
		font-weight: 400;
		height: 2.85em;
		line-height: 2.95em;
		padding: 0 2em;
		text-align: center;
		text-decoration: none;
		white-space: nowrap;
	}
	.button2{
		background-color: #fff;
		margin-left: 0.5em;
		border-radius: 30px;
		border: 0;
		color: #ae4d92 !important;
		cursor: pointer;
		font-weight: 700;
		line-height: 3em;
		text-align: center;
		float: right;
		text-decoration: none;
		width: 150px;
	}
	.hover-img:hover{
		opacity: 0.8;
	}
	.function-b{
		-moz-appearance: none;
		-webkit-appearance: none;
		-o-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-o-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		background-color: #fff;
		border-radius: 30px;
		border: 0;
		color: #ae4d92 !important;
		cursor: pointer;
		display: inline-block;
		font-weight: 400;
		height: 2.85em;
		line-height: 2.95em;
		padding: 0 2em;
		text-align: center;
		float: right;
		text-decoration: none;
		white-space: nowrap;
		width: 150px;
	}
		input[type="submit"]:hover,
		input[type="reset"]:hover,
		input[type="button"]:hover,
		.button:hover {

			text-decoration: none;
		}

		input[type="submit"]:active,
		input[type="reset"]:active,
		input[type="button"]:active,
		.button:active {
			background-color: #2da2ca;
			text-decoration: none;
		}

		input[type="submit"].icon,
		input[type="reset"].icon,
		input[type="button"].icon,
		.button.icon {
			padding-left: 1.35em;
		}

			input[type="submit"].icon:before,
			input[type="reset"].icon:before,
			input[type="button"].icon:before,
			.button.icon:before {
				margin-right: 0.5em;
			}

		input[type="submit"].fit,
		input[type="reset"].fit,
		input[type="button"].fit,
		.button.fit {
			display: block;
			margin: 0 0 1em 0;
			width: 100%;
		}

		input[type="submit"].small,
		input[type="reset"].small,
		input[type="button"].small,
		.button.small {
			font-size: 0.8em;
		}

		input[type="submit"].big,
		input[type="reset"].big,
		input[type="button"].big,
		.button.big {
			font-size: 1.35em;
		}

		input[type="submit"].alt,
		input[type="reset"].alt,
		input[type="button"].alt,
		.button.alt {
			background-color: transparent;
			box-shadow: inset 0 0 0 2px rgba(144, 144, 144, 0.25);
			color: #474747 !important;
		}

			input[type="submit"].alt:hover,
			input[type="reset"].alt:hover,
			input[type="button"].alt:hover,
			.button.alt:hover {
				background-color: rgba(144, 144, 144, 0.075);
			}

			input[type="submit"].alt:active,
			input[type="reset"].alt:active,
			input[type="button"].alt:active,
			.button.alt:active {
				background-color: rgba(144, 144, 144, 0.2);
			}

			input[type="submit"].alt.icon:before,
			input[type="reset"].alt.icon:before,
			input[type="button"].alt.icon:before,
			.button.alt.icon:before {
				color: #858585;
			}

		input[type="submit"].special,
		input[type="reset"].special,
		input[type="button"].special,
		.button.special {
			background-color: #62ce6e;
			color: #fff !important;
		}
		.button.special1 {
			background-color: #ffff;
			color: #444	 !important;
		}
			/* input[type="submit"].special:hover,
			input[type="reset"].special:hover,
			input[type="button"].special:hover,
			.button.special:hover {
				background-color: #62ce6e;
			} */

			input[type="submit"].special:active,
			input[type="reset"].special:active,
			input[type="button"].special:active,
			.button.special:active {
				background-color: #2c2f35;
			}

		input[type="submit"].disabled, input[type="submit"]:disabled,
		input[type="reset"].disabled,
		input[type="reset"]:disabled,
		input[type="button"].disabled,
		input[type="button"]:disabled,
		.button.disabled,
		.button:disabled {
			background-color: #444 !important;
			box-shadow: inset 0 -0.15em 0 0 rgba(0, 0, 0, 0.15);
			color: #fff !important;
			cursor: default;
			opacity: 0.25;
		}

/* Header */

	body.landing #header {
		background-color: transparent;
		left: 0;
		position: absolute;
		top: 0;
	}

		body.landing #header nav a {
			color: rgba(255, 255, 255, 0.5);
		}

	#header {
		background-color: #ffffff;
		color: #ffffff;
		cursor: default;
		font-size: 1.1em;
		height: 6em;
		line-height: 6em;
		width: 100%;
		z-index: 10000;
	}

		#header h1 {
			color: #ffffff;
			height: inherit;
			left: 3em;
			line-height: inherit;
			margin: 0;
			padding: 0;
			position: absolute;
		}

			#header h1 a {
				font-size: 1.5em;
			}

		#header nav {
			height: inherit;
			line-height: inherit;
			position: absolute;
			right: 12em;
			vertical-align: middle;
		}

			#header nav > ul {
				list-style: none;
				margin: 0;
				padding-left: 0;
			}

				#header nav > ul > li {
					border-radius: 4px;
					display: inline-block;
					margin-left: 2em;
					padding-left: 0;
				}


					#header nav > ul > li a {
						-moz-transition: color 0.2s ease-in-out;
						-webkit-transition: color 0.2s ease-in-out;
						-o-transition: color 0.2s ease-in-out;
						-ms-transition: color 0.2s ease-in-out;
						transition: color 0.2s ease-in-out;
						color: #8a2e6f;
						display: inline-block;
						text-decoration: none;
					}

						#header nav > ul > li a:active, #header nav > ul > li a:hover {
							color: #000;
						}

					#header nav > ul > li:first-child {
						margin-left: 0;
					}

					#header nav > ul > li .button {
						background-color: #ae4d92;
						color: #fff !important;
						height: 2.25em;
						line-height: 2.25em;
						margin-bottom: 0;
						padding: 0 1em;
						position: relative;
						top: -0.075em;
						vertical-align: middle;
					}
					#header nav > ul > li .button1 {
						background-color: #fff;
						color: #444 !important;
						height: 2.25em;
						line-height: 2.25em;
						margin-bottom: 0;
						padding: 0 1em;
						position: relative;
						top: -0.075em;
						vertical-align: middle;
					}

		#header .container {
			position: relative;
		}

			#header .container h1 {
				left: 0;
			}

			#header .container nav {
				right: 0;
			}
			.container1{
				margin-top: 5em;
				margin-bottom: 0em;
				width: 600px;
				padding: 2em;
				position: relative;
				left: 3em;
				background: #ae4d92;
			}
			.container1-masc{
				margin-top: 5em;
				margin-bottom: 0em;
				width: 600px;
				padding: 2em;
				position: relative;
				left: 3em;
				background: #4d9dae;
			}
			.container3{
				margin-top: 5em;
				margin-bottom: 5em;
				width: 93.5%;
				padding: 2em;
				position: relative;
				left: 3em;
				background: #ae4d92;
			}
			.container2-masc{
				margin-top: 5em;
				margin-bottom: -37em;
				height: 520px;
				width: 600px;
				padding: 2em;
				position: relative;
				bottom: 39.7em;
				left: 49em;
				background: #ae4d92;
				overflow: scroll Y;
			}
			.container2{
				margin-top: 5em;
				margin-bottom: -37em;
				height: 520px;
				width: 600px;
				padding: 2em;
				position: relative;
				bottom: 39.7em;
				left: 49em;
				background: #4d9dae;
				overflow: scroll Y;
			}
			input[type='file'] {
  		display: none
	}
	label {
  background-color: #fff;
  border-radius: 5px;
  color: #ae4d92;
  cursor: pointer;
  margin: 10px;
  padding: 6px 20px;
	width:300px;
}
/* Banner */

	#banner {
		height: 590px;
		background-image: url(../images/pink.png), url(../images/perfume.jpg);
		background-position: center center;
		background-size: cover;
		color: #ffffff;
		padding: 14em 0em 14em;
		text-align: center;
	}

		#banner :last-child {
			margin-bottom: 0;
		}

		#banner h2 {
			color: #ffffff;
			font-size: 4em;
			line-height: 1.25em;
			margin: 0 0 0.5em 0;
			padding: 0;
			position: relative;
			top: 3.5em;
		}

		#banner p {
			font-size: 2.1em;
			margin-bottom: 1.75em;
			position: relative;
			top: 6em;
		}

/* Wrapper */

	.wrapper {
		padding: 6em 0em 4em;
		/* Style 1 Wrapper */
		/* Style 2 Wrapper */
		/* Style 3 Wrapper */
	}

		.wrapper.style1 {
			background-color: #F5F5F5;
			border-bottom: 1px solid rgba(144, 144, 144, 0.25);
			border-top: 1px solid rgba(144, 144, 144, 0.25);
		}

			.wrapper.style1 .box {
				background-color: #fff;
				padding: 3em 2.5em;
			}

				.wrapper.style1 .box h2, .wrapper.style1 .box h3, .wrapper.style1 .box h4, .wrapper.style1 .box h5, .wrapper.style1 .box h6 {
					color: #858585;
				}

		.wrapper.style2 {
			margin-top: -5em;
		}

		.wrapper.style2 .profiles {
			border-bottom: 1px solid rgba(144, 144, 144, 0.25);
			border-top: 1px solid rgba(144, 144, 144, 0.25);
			margin-bottom: 0em;
			padding-top: 4em;
		}
		.wrapper.style2 .profiles1 {
			border-bottom: 1px solid rgba(144, 144, 144, 0.25);
			border-top: 1px solid rgba(144, 144, 144, 0.25);

			margin-bottom: 0em;
			padding-top: 4em;
		}
		.wrapper.style2 .profiles2 {
			border-bottom: 1px solid rgba(144, 144, 144, 0.25);
			border-top: 1px solid rgba(144, 144, 144, 0.25);
			margin-bottom: 0em;
			padding-left: 5.5em;
			padding-top: 4em;
		}
		.wrapper.style2 .profile {
			margin-bottom: 0em;
			text-align: left;
		}
			.wrapper.style2 .profile h4, .profile1 h4, .profile2 h4, .profile3 h4, .profile4 h4 {
				margin-bottom: 0;
				margin-top: 0em;
			}
			.wrapper.style2 .profile1 {
				margin-bottom: 0em;
				text-align: left;
				position: relative;
				left: 20em;
			}

				.wrapper.style2 .profile img, .profile1 img, .profile2 img, .profile3 img, .profile4 img {
					border-radius: 50%;
					float: left;
					margin-bottom: 3em;
					margin-right: 1em;
				}

				.wrapper.style2 .profile2 {
					margin-bottom: 0em;
					text-align: left;
					position: relative;
						top: 10.5em;
						right: 40em;
				}

					.wrapper.style2 .profile3 {
						margin-bottom: 0em;
						text-align: left;
						position: relative;
						left: 11em;
					}
					.wrapper.style2 .profile4 {
						margin-bottom: 0em;
						text-align: left;
						position: relative;
						left: 11em;
					}
						.wrapper.style2 .profile1 {
							margin-bottom: 0em;
							text-align: left;
							position: relative;
							left: -18em;
						}
		.wrapper.style2 footer {
			margin-left: auto;
			margin-right: auto;
			width: 70%;
		}

			.wrapper.style2 footer p {
				margin-bottom: 3em;
			}

		.wrapper.style3 {
			background-image: url(../images/pattern.png);
			background-size: cover;
			color: #ffffff;
		}

			.wrapper.style3 h2, .wrapper.style3 h3, .wrapper.style3 p {
				color: #fff;
			}

			.wrapper.style3 input[type="text"],
			.wrapper.style3 input[type="password"],
			.wrapper.style3 input[type="email"],
			.wrapper.style3 select,
			.wrapper.style3 textarea {
				background-color: #fff;
				color: #444;
			}

/* Footer */

	#footer {
		/* background: #64cf6d; */
		background-image: url(../images/footer1.jpg);
		background-size: 50%;
		padding: 3em 0em 1em;
	}

		#footer h2, #footer h3, #footer h4 {
			color: #000;
		}

		#footer p, #footer a, #footer li {
			color: #000;
		}

		#footer .copyright {
			margin-top: 0.65em;
			padding: 0;
		}

			#footer .copyright li {
				position: relative;
				left: 18em;
				color: #000;
				display: inline-block;
				list-style: none;
				margin-left: 0.5em;
				padding-left: 0.5em;
			}

				#footer .copyright li:first-child {
					margin-left: 0;
					padding-left: 0;
				}

			#footer .copyright a {
				color: #858585;
			}

		#footer .icons {
			text-align: right;
		}

		#footer a.icon {
			color: #ffffff;
			font-size: 0.65em;
			height: 4em;
			line-height: 4em;
			width: 4em;
			cursor: pointer;
		}

/* Grid Demo */

	.grid-demo {
		display: block;
		margin: 0 0 2em 0;
	}

		.grid-demo span {
			background: #8d93a0;
			border-radius: 4px;
			color: rgba(0, 0, 0, 0.25);
			display: block;
			font-weight: 700;
			height: 2.75em;
			line-height: 2.75em;
			text-align: center;
		}

		.grid-demo .row.flush > div span {
			border-radius: 0;
		}

		.grid-demo .row.flush > div:first-child span {
			border-radius: 4px 0 0 4px;
		}

		.grid-demo .row.flush > div:last-child span {
			border-radius: 0 4px 4px 0;
		}

	#sale
	{
		overflow: hidden;
		padding: 5em 0em;
		/* border-top: 1px solid rgba(0,0,0,0.08); */
	}

	#sale h3
	{
		padding-bottom: 1em;
		text-transform: uppercase;
		font-size: 1.8em;
		font-weight: 300;
	}
	.tag
	{
		margin-top: 0em;
		margin-bottom: 4em;
		height: 100px;
		padding-left: 2em;
		border-left: 6px solid #7eb384;
	}
	.tag h2
	{
		text-transform: uppercase;
		font-size: 2.5em;
		font-weight: 300;
	}

	.tag span
	{
		display: block;
		padding-top: 0.50em;
		letter-spacing: 0.10em;
		text-transform: uppercase;
		font-size: 1.3em;
		font-weight: 300;
		position: relative;
		bottom: 30px;
	}
	.image-sale
	{
		display: inline-block;
	}

	.image-sale img
	{
		display: block;
		width: 100%;
	}

	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 2em 0;
	}
	.boxA,
	.boxB,
	.boxC
	{
		width: 384px;
	}

	.boxA,
	.boxB
	{
		float: left;
		margin-right: 24px;
	}

	.boxC
	{
		float: right;
	}
	.button-sale
{
	display: inline-block;
	margin-top: 2em;
	padding: 1em 2em 1em 2em;
	background: #f1b1a7;
	border-left: 4px solid #7db483;
	/* border-radius: 1em	; */
	letter-spacing: 0.20em;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 0.90em;
	color: #FFF;
}

.button-sale:before
{
	display: inline-block;
	background: #FFC31F;
	margin-right: 1em;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 20px;
	text-align: center;
	color: #272925;
}
	input[type="submit"],
.button-prod {
	-moz-appearance: none;
	-webkit-appearance: none;
	-o-appearance: none;
	-ms-appearance: none;
	appearance: none;
	-moz-transition: background-color 0.35s ease-in-out;
	-webkit-transition: background-color 0.35s ease-in-out;
	-o-transition: background-color 0.35s ease-in-out;
	-ms-transition: background-color 0.35s ease-in-out;
	transition: background-color 0.35s ease-in-out;
	background: #d84780;
	border-radius: 6px;
	border: 0;
	color: white;
	cursor: pointer;
	display: inline-block;
	padding: -0.75em 1.5em 2.75em 1.5em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	font-size: 1.2em;
	font-weight: 600;
	color: #FFF !important;
}

	.button-prod:hover {
		background: #e1719d;
	}


	.button-prod.alt {
		border: 1px solid #FFF;
		color: #0f1116;
	}


	.button-prod.fit {
		width: 100%;
	}


	.button-prod.small {
		font-size: 0.8em;
	}


	.button-prod.medium {
		padding: 0.80em 2em;
		font-size: 1.6em;
	}
	.box-prod{
		padding: 3em 2em;
		background: #FFF;
		text-align: center;
		border-radius: 0px 0px 6px 6px;
	}
	.image-prod {
		border: 0;
		position: relative;
	}

	.image-prod:hover > img {
		transform: scale(1.5);
	}

		.image-prod.fit-prod {

		}

			.image-prod.fit-prod img {

			}

			#extra{
				margin:4em;
			}

			#history{
			height: 330px;
			width: 1200px;
			padding-top: 3.5em;
			}
			#history #pnglogo{
				float: left;
				margin: 0 5em 0 3em;
				}
			#history #logotext{
				font-size: 1.5em;
				text-align: justify;

			}



/* Full-width input fields */
.modal input[type=text], .modal input[type=password], .modal input[type=email], .modal input[type=number] {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0 1em 2.9em;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
.button-log
 {
    background-color: #da5e82;
    color: white;
    padding: 14px 20px;
    margin: 8px 0 1em 3em;
    border: none;
    cursor: pointer;
    width: 60%;
}

.button-log:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
		color: #fff;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
}

.container5 {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
.lab-login{
	position: relative;
	left: 1.7em;
}
#botao1{
	-moz-appearance: none;
	-webkit-appearance: none;
	-o-appearance: none;
	-ms-appearance: none;
	appearance: none;
	-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	-o-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	background-color: #fff;
	border-radius: 30px;
	border: 0;
	color: #000;
	cursor: pointer;
	display: inline-block;
	font-weight: 400;
	font-size:11pt;
	height: 2.85em;
	line-height: 2.95em;
	padding: 0 2em;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
}

.botao2{
	position: absolute;
	top:1em;
	right: 1em;
}
.blue{
	color: #4d9dae;
}
.quantidade{
	width: 15%;
	position: relative;
	left: 14em;
	bottom: 4.5em;
	margin-bottom: -3em;
}
div#pesquisa{
	position: absolute;
	left: 18em;
	top: 2em;
	padding: 1px;
	border: #000 solid 1px;
	border-radius: 20px;
}

input#caixabusca{
	float:right;
	background-color:#b84b8b4d;
	padding-left:5px;
	font-size:18px;
	border:0;
	border-radius: 0 15px 15px 0;
	height:32px;
	color: #000;
	width:191px;
}
input#caixabusca:focus{
color: #000;
outline: none;
}
button#btnBusca{
	border:none;
	float:right;
	height:32px;
	border-radius:0 7px 7px 0;
	width:50px;
	font-weight:bold;
	background:transparent;
}

div#pesquisa img{
	float:left;
}
.man{
	background-image: url('images/bg_kit.jpg');
}
